body {
    background: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
}

.imgPres {
    width: 99.6%;
    /*border: 1px solid rgb(92, 90, 90);*/ 
    height: 70%;
    border-radius: 2px;

}

.prestation {
    margin: 0.3%;
    height: 10%;

}

.prestation:hover{
  box-shadow: 1px 2px 5px darken(rgb(255, 221, 221),10);

}

.pres_info {
    border: 1px solid rgb(92, 90, 90);
    background: red;
    padding: 2%;
    margin-bottom: 0.3%;
    text-align: center;
}

ul.cat {
    list-style-type: none;    
    display: flex;
    /*background: red;*/
    padding: 0;
    height: 3%;
    margin-top : 20%;
}

.linepen{
    /*transform: rotate(90deg);*/
    height: 20%;
}

.tListPresta{
    text-align: center;
}

ul.cat li {
    text-align: center;
    margin: auto;

}

ul.cat li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: inline-block;
}

ul.cat li:hover {
    background: white;
}

ul.cat li:hover a {
    color: red;
        text-shadow: black 1px 2px 5px;

}

ul.cat li.active{
    background: white;
    a {
        color: red;
    }
}

#nav-menu{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 221, 221);
    box-shadow: 1px 2px 5px darken(rgb(255, 221, 221),10);
    a{
        text-decoration: none;

    }
    a:hover{
        text-shadow: 1px 2px 5px;
    }
    
}


@media screen and (min-width: 768px){
.cat {
    height: 500px;
}

}